@{
    ViewData["Title"] = "Nạp Credits";
}

<div class="min-h-screen bg-gray-50 py-12">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
        
        @await Html.PartialAsync("Partials/_PlansHeader")
        @await Html.PartialAsync("Partials/_PlansPackagesTab")
        @await Html.PartialAsync("Partials/_PlansHistoryTab")

    </div>

    @await Html.PartialAsync("Partials/_PlansCheckoutOverlay")
</div>

@section Scripts {
    <script src="~/js/plans.js"></script>
}
